<!-- Navbar -->
<nav class="bg-base-200 shadow-md ">
  <div class="container flex justify-between items-center text-base-content">
    <!-- Logo -->
    <a routerLink="/" class=" cursor-pointer">
      <img src="/logos/Blockbuster-darkMode.png" alt="Logo" class="w-16 hidden dark:inline aspect-square" />
      <img src="/logos/Blockbuster-lightMode.png" alt="Logo" class="w-16 dark:hidden aspect-square" />
    </a>

    <!-- Tabs (Large Screens) -->
    <div class="hidden lg:flex space-x-6 items-center">
      <a routerLink="/"
        class="hover:text-primary transition-all duration-500 relative after:content-[''] after:absolute after:bottom-0 after:left-0 after:w-full after:h-[2px] after:scale-x-0 hover:after:scale-x-100 after:origin-center after:bg-primary after:transition-transform pb-1  font-medium">Home</a>
      <a routerLink="/about"
        class="hover:text-primary transition-all duration-500 relative after:content-[''] after:absolute after:bottom-0 after:left-0 after:w-full after:h-[2px] after:scale-x-0 hover:after:scale-x-100 after:origin-center after:bg-primary after:transition-transform pb-1 font-medium">About
        Us</a>
      <a routerLink="/contact-us"
        class="hover:text-primary transition-all duration-500 relative after:content-[''] after:absolute after:bottom-0 after:left-0 after:w-full after:h-[2px] after:scale-x-0 hover:after:scale-x-100 after:origin-center after:bg-primary after:transition-transform pb-1 font-medium">Contact
        Us</a>
      <a routerLink="/movies"
        class="hover:text-primary transition-all duration-500 relative after:content-[''] after:absolute after:bottom-0 after:left-0 after:w-full after:h-[2px] after:scale-x-0 hover:after:scale-x-100 after:origin-center after:bg-primary after:transition-transform pb-1 font-medium">Movies
      </a>
      <a routerLink="/series"
        class="hover:text-primary transition-all duration-500 relative after:content-[''] after:absolute after:bottom-0 after:left-0 after:w-full after:h-[2px] after:scale-x-0 hover:after:scale-x-100 after:origin-center after:bg-primary after:transition-transform pb-1 font-medium">Series</a>
      <a routerLink="/dashboard"
        class="hover:text-primary transition-all duration-500 relative after:content-[''] after:absolute after:bottom-0 after:left-0 after:w-full after:h-[2px] after:scale-x-0 hover:after:scale-x-100 after:origin-center after:bg-primary after:transition-transform pb-1 font-medium">Dashboard</a>


    </div>
    <div class="actions hidden lg:flex gap-4 items-center">
      <!-- Search -->
      <label class="input input-primary bg-transparent">
        <ng-icon name="ionSearch" />
        <input type="search" placeholder="Search..." />
      </label>
      <!-- Icons & Button -->
      <app-theme-button />
      <button
        class="text-2xl hover:text-primary transition-all cursor-pointer hover:text-shadow-[0px_0px_10px_var(--color-primary)]">
        <ng-icon name="faSolidCartShopping" />
      </button>
      <a routerLink="register"
        class="bg-primary btn btn-active hover:shadow-[0px_0px_5px_var(--color-primary)] transition-all">
        Register
      </a>
    </div>

    <!-- Burger Icon (Mobile) -->
    <div class="lg:hidden">
      <button (click)="toggleMenu()">
        <i class="fas fa-bars text-3xl text-(--color-primary)"></i>
      </button>
    </div>
  </div>

  <!-- Sidebar -->
  <div
    class="fixed top-0 left-0 h-full w-64 bg-base-200 text-base-content shadow-lg z-50 transform transition-color duration-300 "
    [class.-translate-x-full]="!menuOpen" [class.translate-x-0]="menuOpen">
    <div class="flex justify-between items-center p-4 border-b border-(--color-primary)">
      <h2 class="text-xl font-bold">BlockBuster</h2>
      <button (click)="toggleMenu()">
        <i class="fas fa-times text-2xl"></i>
      </button>
    </div>
    <ul class="p-4 space-y-4">
      <li>
        <label class="input input-primary bg-transparent w-full">
          <ng-icon name="ionSearch" />
          <input type="search" placeholder="Search..." />
        </label>
      </li>
      <li><a routerLink="/"
          class=" font-medium hover:text-primary  transition-all relative after:content-[''] after:absolute after:bottom-0 after:left-0 after:w-full after:h-[2px] after:scale-x-0 hover:after:scale-x-100 after:origin-left after:bg-primary after:transition-transform pb-1">Home</a>
      </li>
      <li><a routerLink="/about"
          class="font-medium hover:text-primary  transition-all relative after:content-[''] after:absolute after:bottom-0 after:left-0 after:w-full after:h-[2px] after:scale-x-0 hover:after:scale-x-100 after:origin-left after:bg-primary after:transition-transform pb-1">About
          Us</a></li>
      <li><a routerLink="/contact-us"
          class="font-medium hover:text-primary  transition-all relative after:content-[''] after:absolute after:bottom-0 after:left-0 after:w-full after:h-[2px] after:scale-x-0 hover:after:scale-x-100 after:origin-left after:bg-primary after:transition-transform pb-1">Contact
          Us</a></li>
      <li><a routerLink="/movies"
          class="font-medium hover:text-primary  transition-all relative after:content-[''] after:absolute after:bottom-0 after:left-0 after:w-full after:h-[2px] after:scale-x-0 hover:after:scale-x-100 after:origin-left after:bg-primary after:transition-transform pb-1">Movies
        </a></li>
      <li><a routerLink="/series"
          class="font-medium hover:text-primary  transition-all relative after:content-[''] after:absolute after:bottom-0 after:left-0 after:w-full after:h-[2px] after:scale-x-0 hover:after:scale-x-100 after:origin-left after:bg-primary after:transition-transform pb-1">Series</a>
      </li>
      <li class="flex space-x-5 justify-between">
        <app-theme-button />
        <button
          class="text-2xl hover:text-primary transition-all cursor-pointer hover:text-shadow-[0px_0px_10px_var(--color-primary)]">
          <ng-icon name="faSolidCartShopping" />
        </button>
      </li>
      <li class="flex justify-center">
        <a routerLink="register"
          class="w-full bg-primary btn btn-active hover:shadow-[0px_0px_5px_var(--color-primary)] transition-all">
          Register
        </a>
      </li>
    </ul>
  </div>
</nav>