<!-- Navbar -->
<nav class="bg-base-200 shadow-md sticky top-0 z-50 py-3">
  <div class="max-w-7xl mx-auto px-4 py-2 flex justify-between items-center text-base-content">
    <!-- Logo -->
    <div class="flex items-center space-x-2">
      <img src="logo.svg" alt="Logo" class="h-10 w-auto" />
      <!-- <span class="font-bold text-xl text-blue-600">ExtraMovie</span> -->
    </div>

    <!-- Tabs (Large Screens) -->
    <div class="hidden lg:flex space-x-6 items-center">
      <a href="#"
        class="hover:text-primary transition-all duration-500 relative after:content-[''] after:absolute after:bottom-0 after:left-0 after:w-full after:h-[2px] after:scale-x-0 hover:after:scale-x-100 after:origin-center after:bg-primary after:transition-transform pb-1  font-medium">Home</a>
      <a href="#"
        class="hover:text-primary transition-all duration-500 relative after:content-[''] after:absolute after:bottom-0 after:left-0 after:w-full after:h-[2px] after:scale-x-0 hover:after:scale-x-100 after:origin-center after:bg-primary after:transition-transform pb-1 font-medium">About
        Us</a>
      <a href="#"
        class="hover:text-primary transition-all duration-500 relative after:content-[''] after:absolute after:bottom-0 after:left-0 after:w-full after:h-[2px] after:scale-x-0 hover:after:scale-x-100 after:origin-center after:bg-primary after:transition-transform pb-1 font-medium">Movies
        & Series</a>


    </div>
    <div class="actions hidden lg:flex gap-4">
      <!-- Search -->
      <input type="search" placeholder="Search..." class="input input-primary" />

      <!-- Icons & Button -->
      <button (click)="toggleDarkMode()" *ngIf="!darkMode"
        class="text-2xl cursor-pointer hover:text-primary transition-all hover:text-shadow-[0px_0px_10px_var(--color-primary)] ">
        <ng-icon name="solarMoonStarsBold" />
      </button>
      <button (click)="toggleDarkMode()" *ngIf="darkMode"
        class="text-2xl cursor-pointer hover:text-primary transition-all hover:text-shadow-[0px_0px_10px_var(--color-primary)] ">
        <ng-icon name="solarSun2Bold" />
      </button>
      <button
        class="text-2xl hover:text-primary transition-all cursor-pointer hover:text-shadow-[0px_0px_10px_var(--color-primary)]">
        <ng-icon name="faSolidCartShopping" />
      </button>
      <button
        class="bg-primary btn btn-active text-primary-content px-4 py-1 rounded hover:shadow-[0px_0px_5px_var(--color-primary)] hover:text-neutral-content transition-all">
        Sign Up
      </button>
    </div>

    <!-- Burger Icon (Mobile) -->
    <div class="lg:hidden">
      <button (click)="toggleMenu()">
        <i class="fas fa-bars text-3xl text-(--color-primary)"></i>
      </button>
    </div>
  </div>

  <!-- Sidebar -->
  <div
    class="fixed top-0 left-0 h-full w-64 bg-base-200 text-base-content shadow-lg z-50 transform transition-all duration-500 "
    [class.-translate-x-full]="!menuOpen" [class.translate-x-0]="menuOpen">
    <div class="flex justify-between items-center p-4 border-b border-(--color-primary)">
      <h2 class="text-xl font-bold">ExtraMovie</h2>
      <button (click)="toggleMenu()">
        <i class="fas fa-times text-2xl"></i>
      </button>
    </div>
    <ul class="p-4 space-y-4">
      <li>
        <input type="search" placeholder="Search..." class="input input-primary bg-transparent" />
      </li>
      <li><a href="#"
          class=" font-medium hover:text-primary  transition-all relative after:content-[''] after:absolute after:bottom-0 after:left-0 after:w-full after:h-[2px] after:scale-x-0 hover:after:scale-x-100 after:origin-left after:bg-primary after:transition-transform pb-1">Home</a>
      </li>
      <li><a href="#"
          class="font-medium hover:text-primary  transition-all relative after:content-[''] after:absolute after:bottom-0 after:left-0 after:w-full after:h-[2px] after:scale-x-0 hover:after:scale-x-100 after:origin-left after:bg-primary after:transition-transform pb-1">About
          Us</a></li>
      <li><a href="#"
          class="font-medium hover:text-primary  transition-all relative after:content-[''] after:absolute after:bottom-0 after:left-0 after:w-full after:h-[2px] after:scale-x-0 hover:after:scale-x-100 after:origin-left after:bg-primary after:transition-transform pb-1">Movies
          & Series</a></li>
      <li class="flex space-x-5 justify-between">
        <button (click)="toggleDarkMode()"
          class="text-2xl cursor-pointer hover:text-primary transition-all hover:text-shadow-[0px_0px_10px_var(--color-primary)] ">
          <ng-icon name="solarMoonStarsBold" *ngIf="!darkMode" />
          <ng-icon name="solarSun2Bold" *ngIf="darkMode" />
        </button>
        <button
          class="text-2xl hover:text-primary transition-all cursor-pointer hover:text-shadow-[0px_0px_10px_var(--color-primary)]">
          <ng-icon name="faSolidCartShopping" />
        </button>
      </li>
      <li class="flex justify-center">
        <button class="w-full bg-primary btn btn-active hover:shadow-[0px_0px_5px_var(--color-primary)] transition-all">
          Sign Up
        </button>
      </li>
    </ul>
  </div>
</nav>
