<div class=" my-30">
    <div class="container">
        <div class=" free-trial-section h-[200px] relative rounded-2xl">
            <div class="image-wrapper w-full h-full rounded-2xl overflow-hidden">
                <img src="/images/homePage/free-trial.png" alt="" class="w-full h-full"> 
            </div>
            <div class="trial-overlay shadow-[0_0_8px_0_var(--color-accent)] row g-1 px-10 rounded-2xl bottom-0 right-0 left-0 absolute flex justify-between items-center h-full bg-[linear-gradient(90deg,_#0F0F0F_2.42%,_rgba(20,15,15,0.97)_25.46%,_rgba(34,14,14,0.91)_46.72%,_rgba(172,202,69,0.30)_168.98%)]">
                <div class="col-lg-9 col-md-12">
                    <h2  class="text-3xl text-white font-bold mb-2">Register and start to say Action!</h2>
                    <p class="text-white">Unlock a world of entertainment made just for you — sign up now and start your journey!</p>
                </div>
                <div class="col-lg-3 col-md-12">
                    <a routerLink="register" class="btn btn-primary bg-gradient-to-r from-primary to-accent/80 px-6">Register</a>
                </div>
            </div>
        </div>
    </div>
    
</div>