<div class="w-full flex flex-col gap-4">
  <span class="bg-amber-100 p-4 mx-auto text-primary text-2xl font-bold my-5 text-center rounded-2xl">Movies</span>
  <div class="mx-auto grid gap-8 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    @for (movie of movies; track $index) {
      <app-media [mediaItem]="{
        id: movie.id,
        title: movie.title,
        poster_path: movie.poster_path,
        popularity: movie.popularity,
        overview: movie.overview,
        release_date: movie.release_date,
        price: movie.price,
        type: 'movie'
      }"></app-media>
    }
  </div>

  <span class="bg-amber-100 p-4 mx-auto text-primary text-2xl font-bold my-5 text-center rounded-2xl">Series</span>
  <div class="mx-auto grid gap-8 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    @for (seriesItem of series; track $index) {
      <app-media [mediaItem]="{
        id: seriesItem.id,
        title: seriesItem.title,
        poster_path: seriesItem.poster_path,
        popularity: seriesItem.popularity,
        overview: seriesItem.overview,
        release_date: seriesItem.release_date,
        price: seriesItem.price,
        type: 'series'
      }"></app-media>
    }
  </div>
</div>
