<main class="container">
  <p class="text-2xl font-bold text-primary mb-3">home works!</p>
  <button class="btn btn-neutral " (click)="toggleTheme()">Toggle Theme</button>
  <div>
    <div class=" border-2 border-primary rounded-lg p-5 mt-5">
      <h1 class="text-accent texr-xl font-bold mb-3">Toast Playground</h1>
      <div class="space-x-3">
        <button class="btn btn-success " (click)="showToast()">Success</button>
        <button class="btn btn-error" (click)="showErrorToast()">Error</button>
        <button class="btn btn-info" (click)="showInfoToast()">Info</button>
        <button class="btn btn-warning" (click)="showWarningToast()">Warning</button>
        <button class="btn btn-primary" (click)="showPrimaryToast()">Warning</button>
      </div>
    </div>
  </div>
</main>
