<div class="hero w-full h-70 border-b-secondary border-b-3 flex-row justify-items-start"
  style="background-image: url('images/aboutPage/theater-chair.png');">
  <div class="hero-overlay bg-base-content opacity-70"></div>
  <div class="hero-content px-10">
      <h1 class="w-full text-white basis-300 font-medium text-[40px] text-left">Contact Us</h1>
  </div>
  </div>
  <div class="bg-neutral-800 p-10">
    <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-2" >
        <div class="flex flex-col items-start">
            <h2 class="text-[30px]  text-secondary my-3">Information</h2>
            <div class="w-85 my-5 text-[20px]">
                <p class="text-base-300 my-3.5">We'd love to hear from you! Whether you have a question, feedback, or just want to say hello feel free to reach out.You can contact us using the form below, or reach us directly at</p>
                   <a class="text-base-300 my-3.5 block hover:text-secondary" href="">iti &#64;support.com</a>
                  <a class="text-base-300 my-3.5 block hover:text-secondary" href="">+20 258-456-7890</a>
            </div>
            <div class="text-secondary flex gap-2 my-5">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current"><path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"></path>
              </svg>

              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current"><path d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"></path>
              </svg>

              <svg xmlns="http://www.w3.org/2000/svg" width="24"height="24"viewBox="0 0 24 24" class="fill-current"><path d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"></path>
              </svg>
            </div>

          </div>
        <div class=" bg-secondary-subtle flex flex-col items-start  border-t-3 border-t-secondary p-5 rounded-lg shadow-md  space-y-4">
          <form class="form w-full space-y-4">

            <label class="input input-bordered flex items-center gap-2 w-full  bg-neutral-800 text-white border border-neutral-600 focus-within:border-secondary transition-all duration-200">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 opacity-50 " fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
              </svg>
              <input type="text" class="grow" placeholder="Username" />
            </label>

            <label class="input input-bordered flex items-center gap-2 w-full bg-neutral-800 text-white border border-neutral-600 focus-within:border-secondary transition-all duration-200">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 opacity-50" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 12a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0Zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 1 0-2.636 6.364M16.5 12V8.25" />
              </svg>
              <input type="email" class="grow" placeholder="Email" />
            </label>

            <label class="input input-bordered flex items-center gap-2 w-full bg-neutral-800 text-white border border-neutral-600 focus-within:border-secondary transition-all duration-200">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 opacity-50" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l7.5 4.5 7.5-4.5m-15-4.5l7.5 4.5 7.5-4.5" />
              </svg>
              <input type="text" class="grow bg-transparent focus:outline-none" placeholder="Content" />
            </label>

            <label class="input input-bordered h-32 flex flex-col gap-2 w-full bg-neutral-800 text-white border border-neutral-600 focus-within:border-secondary transition-all duration-200 p-3 rounded-lg">
              <textarea class="bg-transparent resize-none focus:outline-none w-full h-32 text-white placeholder-gray-400" placeholder="Write your message..."></textarea>
            </label>

            <button type="submit" class="btn btn-secondary w-50 hover:scale-105 transition duration-200">
              Send Message
            </button>
          </form>

        </div>
    </div>
  </div>
  <div class="bg-neutral-800 p-10">
    <div class="grid sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-6">
      <!-- left-->
      <div class="flex flex-col items-start">
        <p class="mb-5 text-base-300 font-bold text-[20px] flex items-end gap-2">
          Our story
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-secondary">
            <path stroke-linecap="round" stroke-linejoin="round" d="m11.99 16.5 3.75 3.75m0 0 3.75-3.75m-3.75 3.75V3.75H4.49" />
          </svg>
        </p>

        <div class="flex w-full">
          <div class="w-[8px] bg-gradient-to-b from-secondary to-neutral-700 rounded-l"></div>
          <div class="bg-neutral-800 pl-4 pb-2 w-full">
            <p class="text-white text-[30px]">
              Your Vision Our Expertise Your Success<br />
              Get Noticed Generated
            </p>
            <p class="text-secondary text-[30px]">Leads Dominate.</p>
          </div>
        </div>

        <div class="w-full mt-5">
          <img src="images/contactPage/hero.png" class="rounded-3xl shadow-sm shadow-secondary" alt="notFound" />
        </div>
      </div>

      <!-- right -->
      <div class="flex flex-col w-full">
        <div class=" mt-5 grid lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-2 gap-4">
          <div class="relative text-[15px]">
            <img src="images/contactPage/hero.png" class="rounded-3xl shadow-sm shadow-secondary" alt="notFound" />
            <span class="absolute top-3 left-3 text-secondary border-1 border-secondary bg-white rounded-2xl px-2">Trends</span>
            <span class="absolute top-3 right-3 text-secondary border-1 border-secondary bg-white rounded-2xl px-2">Top Tech</span>
          </div>
          <div class="relative text-[15px]">
            <img src="images/contactPage/hero.png" class="rounded-3xl shadow-sm shadow-secondary" alt="notFound" />
            <span class="absolute top-3 left-3 text-secondary border-1 border-secondary bg-white rounded-2xl px-2">Trends</span>
            <span class="absolute top-3 right-3 text-secondary border-1 border-secondary bg-white rounded-2xl px-2">Top Tech</span>
          </div>
        </div>
        <div class="text-[18px] my-10 px-5 text-base-100" >
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt debitis eius doloremque quisquam libero eveniet hic unde omnis repudiandae inventore, dolorum enim consequuntur quam ipsam veniam, laborum illum in culpa.
              </p>
        </div>
        <div class="stats shadow">
          <div class="stat">
            <div class="stat-figure text-primary">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                class="inline-block h-8 w-8 stroke-current">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
              </svg>
            </div>
            <div class="stat-title  text-white">Total Likes</div>
            <div class="stat-value text-primary">25.6K</div>
            <div class="stat-desc  text-white">21% more than last month</div>
          </div>

          <div class="stat">
            <div class="stat-figure text-secondary">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                class="inline-block h-8 w-8 stroke-current text-primary">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M13 10V3L4 14h7v7l9-11h-7z"></path>
              </svg>
            </div>
            <div class="stat-title text-white ">Page Views</div>
            <div class="stat-value text-secondary">2.6M</div>
            <div class="stat-desc  text-white">21% more than last month</div>
          </div>


        </div>
      </div>
    </div>
  </div>
