
<div class="flex sm:flex-row flex-col my-3 gap-3 p-6 mx-auto min-h-screen">
  <!-- filteration section -->
  <div><app-filter class="sm:w-1/5 w-full sm:sticky top-15"></app-filter></div>

  <div class="movies-content sm:w-4/5 w-full flex flex-col justify-center items-center">

    @if(loading)
    {
      <div class="min-h-screen flex justify-center items-center w-full bg-black/20 dark:bg-black/85  rounded-2xl">
        <span class="loading loading-spinner text-primary"></span>
      </div>
    }
    @else {
      <div class="w-full grid grid-cols-[repeat(auto-fit,minmax(220px,1fr))] gap-4">

        @if(!filterFlag)
        {
          <div *ngFor="let movie of pageMovies; let i = index">
            <!-- Calling Movie Card here & pass Movie Object -->
            <app-mediaCard [mediaItem]="movie"></app-mediaCard>
          </div>
        }
        @else {
          <div *ngFor="let movie of filteredPageMovies; let i = index">
            <!-- Calling Movie Card here & pass Movie Object -->
            <app-mediaCard [mediaItem]="movie"></app-mediaCard>
          </div>
        }


      </div>
    }



    <div class="container md:w-1/3 w-1/2  mt-4">
      <div class="join mx-auto">
        <button (click)="previousPageContent()" class="join-item btn">«</button>
        @if(!filterFlag)
        {
          <button class="join-item btn">Page {{currentPage}}</button>
        }
        @else {
          <button class="join-item btn">Page {{currentFilteredPage}}</button>
        }

        <button (click)="nextPageContent()" class="join-item btn">»</button>
      </div>
    </div>

  </div>
</div>


